.btn-notification {
    position: relative !important;
    background-color: transparent;
    box-shadow: none !important;
    padding: 0 !important;
    margin: 0 15px;
    .badge {
        width: 15px;
        height: 15px;
        position: absolute !important;
        top: 0px;
        right: 0px;
        background-color: red;
        border-radius: 50%;
        text-align: center;
        padding: 3px 0;
        font-size: 8px;
    }
}