.notification-modal {
    width: 200px;
    height: 400px;
    border-radius: 10px;
    border: 1px solid transparent;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #ffffff;
    position: absolute;
    top: 50px;
    right: 100px;
}