.nav-link {
    align-items: center;
    margin: 0 10px;
    h6 {
        text-decoration: none;
        color: #222;
        margin: 0;
        margin-left: 10px;
        font-size: 18px;
    }
}

.navbar-toggler {
    box-shadow: none !important;
}