.nav-link {
  align-items: center;
  margin: 0 10px;
  h6 {
    text-decoration: none;
    font-family: sans-serif;
    color: #222;
    margin: 0;
    margin-left: 10px;
    font-size: 18px;
  }
}

.navbar-toggler {
  position: absolute;
  top: 0;
  right: 0;
  &:focus {
    box-shadow: none !important;
  }
}

.nav-item {
  position: relative;
  overflow: hidden;
  .nav-link {
    h6 {
      font-size: 14px;
      color: rgb(157, 151, 151);
      &:hover {
        color: #e2571a;
      }
    }
  }
  .icon {
    width: 1rem;
    height: 1rem;
  }
}

.nav-item.active {
  .nav-link {
    h6 {
      color: #e2571a;
    }
  }
}

@media only screen and (max-width: 600px) {
  ul.navbar-nav {
    justify-content: center;
    align-items: center;
  }
  .extra {
    margin-bottom: 10px;
  }
}
