.sidebar {
  height: 100%;
  .category-group {
    .category-list {
      .category-name {
        cursor: pointer;
      }
      .category-name.active {
        color: #ef564f;
      }
    }
  }
  .btn-category {
    background-color: #ccc;
    &:hover {
      background-color: rgb(231, 231, 231);
    }
    &:focus {
      box-shadow: none !important;
    }
  }
}
