.btn-user-profile {
    background-color: transparent;
    border: none;
    box-shadow: none !important;
    width: 30px;
    height: 30px;
    padding: 0 !important;
    margin-left: 10px;
    margin-right: 5px;
    .user-circle-image {
        border-radius: 100%;
        width: 100%;
        height: 100%;
    }
}